<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdrdabarera.algosns"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
           <activity
            android:name=".Algo"
            android:label="@string/app_name" >
          
          </activity>
          
           <activity
            android:name=".Quiz"
            android:label="@string/app_name" >
          
          </activity>
          
           <activity
            android:name=".Ds"
            android:label="@string/app_name" >
          
          </activity>
          <activity
            android:name=".SortAlgo"
            android:label="@string/app_name" >
          
          </activity>
          
           <activity
            android:name=".Bubble"
            android:label="@string/app_name" >
          
          </activity>
           <activity
            android:name=".Insertion"
            android:label="@string/app_name" >
          
          </activity>
           <activity
            android:name=".Selection"
            android:label="@string/app_name" >
          
          </activity>
           <activity
            android:name=".Merge"
            android:label="@string/app_name" >
          
          </activity>
           <activity
            android:name=".Heap"
            android:label="@string/app_name" >
          
          </activity>
           <activity
            android:name=".Quick"
            android:label="@string/app_name" >
          
          </activity>
    </application>

</manifest>
